<%- include('partials/header') %>

<h1>all requests</h1>
<table border="1">
    <% for(var i=0;i<data.length;i++){%>
    <tr>
    <td><%=data[i].name%></td>
    <td><%=data[i].phone%></td>
    <td><%=data[i].email%></td>
    <!-- <td><a href="/admin/req-info/<%=data[i]._id%>">Open</a></td> -->
    <td><%=data[i].address%></td>
    <td><%=data[i].discription%></td>
    <td><%=data[i].type%></td>
    
    </tr>
    <%}%>
    
    </table>
    <a href="/admin">🠔 back</a>

    <%- include('partials/footer') %>